<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.JobTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.entity.JobType">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="Job_parent" property="jobParent" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, Job_parent, description
    </sql>
    <select id="listPage" resultType="com.example.entity.JobType">
        select * from job_type ${ew.customSqlSegment}
    </select>

</mapper>
